@using MvcKutuphane.Models.Entity
@model List<TBLMESAJLAR>

@{
    ViewBag.Title = "Giden";
    Layout = "~/Views/Shared/LayoutPanel.cshtml";
}


<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Gönderilen Mesajlar</h6>
                @*<a href="/Mesaj/YeniMesaj/" class="btn btn-success">Yeni Mesaj</a>*@
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Alıcı</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Okundu Bilgisi</th>
                            <th>Mesaj İçerini Görüntüle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ALICI</td>

                                <td>@item.KONU</td>
                                <td>@item.TARIH</td>
                                <!--bu kısımda karşı taraf okuduysa okundu okunmadı bilgisi yer alsın-->
                                <td>
                                    @if (item.DURUM == true)
                                    {
                                        <span class="badge badge-success">Okunmamış</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Okundu</span>
                                    }
                                </td>
                                <td>
                                    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#portfolioModala@(item.ID)">Mesaj İçerini Görüntüle</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .okunmadı {
        color: red;
    }

    .okundu {
        color: green;
    }
</style>

<script>
    function updateStatusColor(selectElement) {
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var okunduBadge = document.querySelector('.okundu');
        var okunmadıBadge = document.querySelector('.okunmadı');

        if (selectedOption.value === "True") {
            okunduBadge.style.color = "green";
            okunmadıBadge.style.color = "";
        } else if (selectedOption.value === "False") {
            okunduBadge.style.color = "";
            okunmadıBadge.style.color = "red";
        }
    }
</script>




@foreach (var item in Model)
{
    <div class="portfolio-modal modal fade" id="portfolioModala@(item.ID)" tabindex="-1" role="dialog" aria-labelledby="portfolioModalLabel" aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Kapatma butonunu ekle -->
                <div class="modal-header">
                    <button type="button" class="btn btn-danger btn-circle" value="X" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <div class="container">
                        <form class="form-group" method="post">
                            <br />
                            <label for="fname">Alıcı</label>
                            <input type="text" id="fname" name="firstname" value="@item.ALICI">
                            <br />
                            <label for="lname">Konu</label>
                            <input type="text" id="lname" name="lastname" value="@item.KONU">
                            <br />
                            <label for="subject">İçerik</label>
                            <textarea id="subject" name="subject" style="height:200px"></textarea>
                            <br />
                            <input type="submit" class="btn btn-success" value="Gönder" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
