

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row">

    <!-- Örnek: Yıllık Kazanç Kartı -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Kasa Kazanç
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Dgrkasa</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-lira-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Örnek: Aylık Kazanç Kartı -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Üye Sayısı
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Dgruye</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-person-booth fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Örnek: Görevler Kartı -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Kitap Sayısı</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.Dgrkitap</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width:@ViewBag.Dgrkitap%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Örnek: Bekleyen İstekler Kartı -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Odünç Verilen Kitap Sayısı
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Dgrodunc</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clock fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-12 mt-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <h6 class="m-0 font-weight-bold text-info">Konumunuza Göre Hava Durumu</h6>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        <h3 id="havaDurumuSehir"></h3>
                        <img id="havaDurumuIcon" src="" alt="Hava Durumu Icon" />
                    </div>
                    <div class="col-md-8">
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="havaDurumuDurum"></div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800" id="havaDurumuSicaklik"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<script>
    // Konum bilgisini al ve hava durumu isteğini yap
    function getWeatherByLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    var apikey = '2560a4a40f2590b38c8bfa73261121fc';
                    var url = `https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${apikey}&units=metric`;

                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('havaDurumuSehir').innerText = data.name;
                            document.getElementById('havaDurumuIcon').src = `https://openweathermap.org/img/w/${data.weather[0].icon}.png`;
                            document.getElementById('havaDurumuDurum').innerText = data.weather[0].description;
                            document.getElementById('havaDurumuSicaklik').innerText = data.main.temp + '°C';
                        })
                        .catch(error => {
                            console.log('Hava durumu alınırken hata oluştu:', error);
                        });
                },
                function (error) {
                    console.log('Konum bilgisine erişilemedi:', error);
                }
            );
        } else {
            console.log('Tarayıcınız konum bilgisini desteklemiyor.');
        }
    }

    // Sayfa yüklendiğinde hava durumu bilgisini al
    window.onload = getWeatherByLocation;
</script>


<html lang="tr">

<head>
    <title>Result Visualization</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="background-color: white;">
    <table>
        <tr>
            <td>
                <div id="piechart" style="width: 900px; height: 500px;"></div>
            </td>
        </tr>
    </table>


</body>

</html>

<script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(loadChartData);

        function loadChartData() {
            $.ajax({
                url: '@Url.Action("VisualizeUrunResult","Anasayfa")',
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    drawChart(result);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Stoklar');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.yayinevi, obj.sayi]);
            });
            data.addRows(dataArray);

            var options = {
                title: 'Kitap - Yayınevi Grafiği',
                width: 600,
                height: 300,
                bar: { groupWidth: "20%" },
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
</script>

<!-- Page level plugins -->
<script src="/startbootstrap/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/startbootstrap/js/demo/chart-area-demo.js"></script>
<script src="/startbootstrap/js/demo/chart-pie-demo.js"></script>
<script src="/startbootstrap/js/demo/chart-bar-demo.js"></script>
