@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<TBLUYELER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h2>Üyeler</h2>
    </div>
</div>

<div class="row justify-content-end mb-2">
    <div class="col-auto">
        <a href="/Uye/UyeEkle/" class="btn btn-success">Üye Ekle</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Id</th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Mail</th>
                    <th>Kullanıcı Ad</th>
                    <th>Şifre</th>
                    <th>Fotoğraf</th>
                    <th>Telefon</th>
                    <th>Okul</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.AD</td>
                        <td>@item.SOYADI</td>
                        <td>@item.MAIL</td>
                        <td>@item.KULLANICIADI</td>
                        <td>@item.SIFRE</td>
                        <td>@item.FOTOGRAF</td>
                        <td>@item.TELEFON</td>
                        <td>@item.OKUL</td>
                        <td>
                            <a href="/Uye/UyeSil/@item.ID" class="btn btn-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/Uye/UyeGetir/@item.ID" class="btn btn-warning">Güncelle</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>